/* PROBLEM 1: Remove white margin of body, html */
/* YOUR CODE HERE */
body, html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 1300px;
     overflow-x: hidden;
    background-color: #222B30;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Proxima Nova';
}

.page-wrapper {
    height: 100%;
    width: 100%;
}

#header {
    position: relative;
    height: 100%;
}


#header-img {
    width: inherit;
    position: absolute;
    object-fit: cover;
/*  width: 1280px;*/
}

#navbar-top{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    /*top:0;*/
    height: 64px;
    background: #99B898;
    z-index: 100;
}

.number{
    font-family: 'proxima_nova_scosfthin', sans-serif;
    font-size: 24;
    font-weight: 100;
    opacity: 0.4;
    display: inline;
    padding-right: 80;
}

.az-icon{
    position: relative;
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px 8px 8px 40px;
    border: 2px solid #2A363B;
    border-radius: 10px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 24;
    color: #2A363B;
    z-index: 500;
}

.az-icon:hover{
    cursor: pointer;
    border: 2px solid #FECEA8;
    color: #FECEA8;
}

.az-icon:active{
    opacity: .5;
    transform: scale(0.9)
}

.nav-top-item:active{
    opacity: .5;
    transform: scale(0.9)
}
/*.aztext:hover {
    color: #FECEA8;
    cursor: pointer;
}*/

.search-bar{
    width: 320px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 0.62;
    position: absolute;
    left: 120px;
    top: 12px;
    display: flex;
    align-items: center;
}

.search-bar:hover{
    cursor:text;
}

.songs{ 
    line-height: 52px;
    height: 400px;
    margin: 68;
    position: relative;
    left: 550px;
    top: 560px;
    color: white;
    overflow-y: auto; 
    padding: 0;
}

.songs li {
    text-overflow: ellipsis;
}


.album{
     top: 590px;
     margin-bottom: -440;
     left: 130px;
     position: relative;
}

.album-name{
    font-family: "Proxima Nova", sans-serif;
    font-size: 40;
    color: white;
    margin-bottom: 10px;
}

.year{
    position: absolute;
    font-family: 'proxima_nova_scosfthin', sans-serif;
    font-size: 24;
    color:white;
    opacity: 0.6;
    top: 15;
    left: 350;
}
#reputation-img{
    height: 400px;
    width: auto;
}

.song{
    width: 500px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 100;
    font-size: 24px;
    border-bottom: 0.5px solid grey;
}
.song:hover{
    background-color: rgba(0,0,0,0.7); 
    color: rgba(255,255,255,0.8);
    cursor: default;
}
ul {
    list-style: outside none none;
}

.header{
    /*max-width: 1500px;*/
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

#navbar{
    position: absolute;
    /*z-index: 100;*/
/*    width: 720px;
    height: 4px;
    background: #857c78;
    border-radius: 2px;*/
}

#navbar-item{
    /*z-index: 100;*/
    float: left;
    position: relative;
    font-family: Arial;
    color: white;
    padding: 15px;
    margin: 20px;
    top:-55px;
    left: 100px;
}

.navbar{
    position: absolute;
    margin-left: auto;
    padding-top: 300;
    left: 35%;
}

.navbar-top-text{
    display: flex;
    position: relative;
    left: 520px;
    min-width: 1000px;
}



.nav-top-item{
    display: flex;
    align-items: center;
    float: left;
    overflow-x: hidden;
    /*opacity: 0.9;*/
    z-index: 1;
    line-height: 40px;
    color: #2A363B;
    font-family: 'Proxima Nova';
    font-weight: bold;
    margin-left: 72px;
    font-size: 18;
}

.nav-top-item:hover{
    cursor: pointer;
    color:#FECEA8;
}

.q6-item {
  /* float: left;
   position: relative;*/
    z-index: 1;
    position: relative;
    margin-left: 30px;
    float:left;
    transform: translateY(50%);
    text-align: center;
    font-size: 25;
    color: white;
    font-family: 'proxima_nova_scosfthin', sans-serif; 
    font-weight:10;
    mix-blend-mode: hard-light;
    opacity: 0.85;
    letter-spacing: 0.5px;

   /* padding: 20px;
    margin: 25px;
    top: 10px;*/
    /*left: 275px;*/
}

.q6-item:hover {
    opacity: 0.5;
    cursor: default;
}

#q6-container {
    top:64;
    position: relative;
    width: 100%;
 /*   margin-left: auto;*/
/*    margin-right: auto;*/
}


#banner-pic img {
  position: relative;
  margin: 0px auto;
  height: 45px;


/*  z-index: -1;*/
  /*  background-size: 100% 100%;*/
}

.mag{
    margin-top: 4px;
    margin-left: 8px;
    z-index: 1;
}

.mag:hover{
    cursor: pointer;
}

.artist-name{
    font-family: 'Proxima Nova';
    mix-blend-mode: overlay;
    color: white;
    float: left;
    left: 20%;
    text-align: center;
    font-size: 150px;
    position: absolute;
    top: 225;
    transform: translateY(-50%); 
    z-index: 1;
}



/*#follow-button{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

.item{
	width: 120px;
	height: 120px;
	padding-right: 5px;
	padding-left: 5px;
}

.row{
	padding-bottom: 10px;
}

.navbar-item{ 
	padding-left: 10px;
	padding-right: 10px;
}

.item:hover {
	opacity: 1;
	transition-duration: 0.2s; 
}

#follow-button:active{
	font-size: 18px;
}

.navbar-item:hover{
	opacity: 1;
}

#follow-button, .item, .navbar-item{
	cursor: pointer;
}*/
/* PROBLEM 2: Select profile picture and make it round */
/* YOUR CODE HERE */

/* PROBLEM 3: Flesh our your follow button! 5 px for the 
top and bottom, 30 for the left and right*/
/* YOUR CODE HERE */

/* PROBLEM 4: Turn items into a square, 120x120 px image */
/* YOUR CODE HERE */

/* PROBLEM 5: Create a 10 px horizontal space between items */
/* YOUR CODE HERE */

/* PROBLEM 6: Create a 10px vertical space between rows */
/* YOUR CODE HERE */

/* PROBLEM 7: Add 20px of space between each navigation item */
/* YOUR CODE HERE */

/* PROBLEM 8: Create a hover effect, so that items will have 
full opacity when hovered over! It should also have a 
transition period of 0.2 seconds*/
/* YOUR CODE HERE */

/* PROBLEM 9: Add a click effect to the follow button, so 
the font becomes size 16 when clicked on!*/
/* YOUR CODE HERE */

/* PROBLEM 10: Add a hover effect such that the text of the
navigation has an opacity of 1 when hovered over!*/
/* YOUR CODE HERE */

/* PROBLEM 11: In one selection, make the follow button, picture 
items, and nav bar items have a pointer cursor */

